{% extends 'base.html' %}

{% block title %}
Search Page
{% endblock title %}

{% block active-blog %} active {% endblock active-blog %}

{% block body %}
<div class="container my-4">
    {% if allPosts|length < 1 %}
    <div class="row mb-2 my-4">
        <p>Your search - <strong>{{query|slice:":50"}}...</strong> - did not match any documents.</p>
        <br>
        <p>Suggestions:</p>
        <ul style="margin-left:1.3em;margin-bottom:2em">
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
        </ul>

        {% else %}

        <h6 class="col-md-8 fs-4">Search results for '{{query}}':</h6>
        <div class="row mb-2 my-4">
            {% for post in allPosts %}
            <div class="row mb-6">
                <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
                            <h4 class="mb-0">{{post.title}}</h4>
                            <div class="mb-1 text-muted">{{post.date}}</div>
                            <p class="card-text mb-auto my-3">{{post.content|slice:":250"}}...</p>
                            <a href="/blog/{{post.slug}}" class="stretched-link my-3">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                 focusable="false"><title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% endif %}
    </div>
    {% endblock body %}