{% extends 'base.html' %}

{% block title %}
Blog Post Page
{% endblock title %}

{% block body %}
<div class="container my-3">
<article class="blog-post">
        <h2 class="blog-post-title mb-1">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.date}} by <a href="/about">{{post.author}}</a></p>
        <hr>
        <p>{{post.content}}</p>
        <hr>
</article>
</div>
<div class="container">
        <div class="row">
                <div class="col-md-2 bg-success">Image</div>
                <div class="col-md-10 bg-primary"><b>User 1:</b> This is my comments</div>
        </div>
        <div class="row">
                <div class="col-md-2 bg-success">Image</div>
                <div class="col-md-10 bg-primary"><b>User 2:</b> This is my comments</div>
        </div>

</div>
{% endblock body %}